label,
input[type="email"],
input[type="phone"],
input[type="date"],
input[type="submit"] {
  color: lightblue;
  display: block; 
  margin-bottom: 10px; /


label,
input[type="email"],
input[type="phone"],
input[type="date"],S
input[type="submit"] {
  padding: 5px;
}


#container {
  background-color: lightblue;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 5px;
  text-align: center; 
}


#submit {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


#submit:hover {
  background-color: darkblue;
}
