body{
	line-height: 1.2em;
	font-family: Arial;
	font-size: 1.3em;
}

/* Style the form container */
#container {
  margin: 40px auto;
  border-radius: 5px;
  background-color: lightblue;
  padding: 20px;
  max-width: 400px;
  text-align: left; 
  height: 350px;
}

input{
	box-sizing: border-box;
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}


#submit {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


#submit:hover {
  background-color: darkblue;
}
